.note-list-wrapper{
    margin-top: 30px;

  .note-item-wrapper{
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
    cursor: pointer;

    .note-content{
      margin-bottom: 15px;
      color: #666;
      font-family: Ubuntu;
      // font-size: 12px;
      line-height: 13px;
      text-overflow: ellipsis !important;
      max-width: 70%;
      overflow: hidden;
      white-space: nowrap;
    }

  }

  .title-content-section{
    width: 97%;
  }

}





